%h2 Regulamin

%p Przed rozpoczęciem korzystania z Serwisu należy uważnie przeczytać poniższy Regulamin. Korzystanie z Serwisu jest równoznaczne z tym, że Użytkownik:

%p Zapoznał się z treścią Regulaminu i wyraża zgodę na wszystkie jego postanowienia
%p Zobowiązuje się do korzystania z Serwisu zgodnie z prawem
%p Zgadza się na przetwarzanie jego danych osobowych w zakresie podanym w Regulaminie.
%p Regulamin korzystania z serwisu internetowego www.hardzio.pl oraz polityka serwisu w zakresie ochrony praw autorskich:

%h3 I. Definicje.

%h4 1.1. Użyte w Regulaminie pojęcia oznaczają:

%p 1.1.1. Awaria - oznacza stan Usługi, który uniemożliwia Użytkownikowi korzystanie z Usługi, jednak z wyłączeniem sytuacji, w której brak możliwości korzystania z Usługi jest wynikiem okresu zawieszenia lub przerwy w świadczeniu Usługi dozwolonej w ramach Regulaminu; lub jest wynikiem naruszenia Regulaminu przez Użytkownika; lub jest wynikiem działania Siły Wyższej; lub która wystąpiła w infrastrukturze telekomunikacyjnej, z której korzysta Użytkownik.
%p 1.1.2. Komentarz - pisemne wyrażenie opinii przez Użytkownika na temat Treści, do których odniesienie zamieszczono przez innego Użytkownika. Komentarze zamieszczane są za pośrednictwem wtyczki społecznościowej serwisu facebook.com i podlegają regulaminowi tegoż serwisu. Wszelką odpowiedzialność za treści zawarte w Komentarzu ponosi Użytkownik, który Komentarz zamieścił oraz serwis facebook.com
%p 1.1.3. Regulamin - niniejszy Regulamin Serwisu dostępnego pod adresem: www.hardzio.pl/terms/
%p 1.1.4. Serwis - serwis internetowy, który umożliwia Użytkownikom przechowywanie Treści, pod adresem www.hardzio.pl, za pośrednictwem którego świadczona jest Usługa.
%p 1.1.5. Strony - Usługodawca i Użytkownik.
%p 1.1.6. Siła Wyższa - zdarzenie nadzwyczajne o charakterze zewnętrznym wobec Strony, niezależne od danej Strony, któremu Strona nie mogła zapobiec przy dołożeniu należytej staranności.
%p 1.1.7. Treść (Treści) - treści i obiekty multimedialne (np. informacje, dane, pliki graficzne, zdjęcia lub filmy) w tym utwory w rozumieniu Ustawy o prawie autorskim i prawach pokrewnych oraz wizerunki osób fizycznych jakie są zamieszczane przez Użytkownika za pośrednictwem Serwisu.
%p 1.1.8. Umowa - umowa o świadczenie usług drogą elektroniczną pomiędzy Stronami.
%p 1.1.9. Usługa - usługa hostingu świadczona przez Usługodawcę na zasadach określonych w Regulaminie oraz za pośrednictwem Serwisu, która polega na zapewnieniu Użytkownikowi narzędzi teleinformatycznych celem przechowywania zamieszczonych przez Użytkownika Treści.
hardzio GROUP
%p 1.1.11. Ustawa o prawie autorskim i prawach pokrewnych - Ustawa z dnia 4 lutego 1994r. o prawie autorskim i prawach pokrewnych (Dz.U. 1994r., Nr 24, poz. 83, ze zm.).
%p 1.1.12. Ustawa o ochronie danych osobowych - Ustawa o ochronie danych osobowych z dnia 27 sierpnia 1997 r. (tekst jednolity: Dz. U. z 2002 r. Nr 101, poz. 926 ze zm.)
%p 1.1.13. Ustawa o świadczeniu usług drogą elektroniczną - Ustawa z dnia 18 lipca 2002r. o świadczeniu usług drogą elektroniczną (Dz.U. 2002r., Nr 144, poz. 1244 ze zm.).
%p 1.1.14. Użytkownik - osoba fizyczna, która ukończyła 13 rok życia. W przypadku nie ukończenia przez Użytkownika 18 roku życia wymagana jest zgoda jego przedstawiciela ustawowego.

%h3 II. Postanowienia Ogólne.

%p 2.1. Niniejszy Regulamin określa zasady korzystania przez Użytkowników z serwisu internetowego dostępnego pod adresem www.hardzio.pl oraz z oferowanych za jego pośrednictwem usług.
%p 2.2. Niniejszy Regulamin jest regulaminem, o którym mowa w art. 8 ustawy z dnia 18 lipca 2002 r. o świadczeniu usług drogą elektroniczną (Dz. U. z 2002 r. Nr 144, poz. 1204 z późn. zm.).
%p 2.3. Nazwa Serwisu, jego koncepcja, wygląd graficzny, oprogramowanie oraz baza danych, a także elementy graficzne Stron, które zostały udostępnione Użytkownikom przez Serwis podlegają ochronie prawnej.
%p 2.4. Korzystanie z Serwisu oraz z usług oferowanych za pośrednictwem Serwisu oznacza wyrażenie przez Użytkownika zgody na warunki określone w niniejszym Regulaminie.
%p 2.5. Usługodawca zastrzega sobie prawo ograniczenia dostępu do wybranych usług oferowanych za pośrednictwem Serwisu dla Użytkowników, którzy spełnią określone warunki. Zastrzeżenie dotyczące możliwości skorzystania z wybranych usług będzie każdorazowo zamieszczane na stronach internetowych Serwisu.
%p 2.6. Zgodnie z obowiązującymi przepisami prawa Usługodawca zastrzega sobie możliwość ograniczenia świadczenia Usługi za pośrednictwem Serwisu do osób, które ukończyły wiek 18 lat. W takim przypadku Użytkownicy zostaną o powyższym powiadomieni.

%h3 III. Zakres i warunki korzystania z Serwisu.

%p 3.1. W ramach Serwisu Usługodawca zobowiązuje się do świadczenia Usługi w zakresie i na warunkach określonych w niniejszym Regulaminie.
%p 3.2. Zakres Usługi obejmuje przechowywanie przez Usługodawcę Treści jakie zostały zamieszczone przez Użytkownika za pośrednictwem Serwisu.
%p 3.3. Umowa o świadczenie usług drogą elektroniczną zostaje zawarta z chwilą skutecznego przesłania przez Użytkownika Treści do Serwisu. Umowa zostaje zawarta na czas nieoznaczony.
%p 3.4. Warunkiem rozpoczęcia korzystania z Usługi przez Użytkownika jest przesłanie Treści do Serwisu, które jest możliwe na jednej ze stron Serwisu, po wypełnieniu odpowiednich rubryk formularza oraz naciśnięciu przez Użytkownika odpowiedniego klawisza.
%p 3.5. Korzystanie z Usługi możliwe jest pod warunkiem spełnienia przez system teleinformatyczny, z którego korzysta Użytkownik następujących minimalnych wymagań technicznych:
%p 3.5.1. Procesor 1 GHz, pamięć 512 MB,
%p 3.5.2. zastosowania przeglądarek Microsoft Internet Explorer, Opera, Google Chrome, Mozilla Firefox lub nowszych z zainstalowanym oprogramowaniem do obsługi (np. Java Script),
%p 3.5.3. zastosowania w pewnych przypadkach oprogramowania (np. Flash, Quicktime, Acrobat Reader, programy dekompresujące),
%p 3.5.4. Strona internetowa jest optymalizowana do rozdzielczości 1280x800
%p 3.6. Użytkownik zobowiązuje się do przestrzegania postanowień Regulaminu. Usługodawca zastrzega sobie prawo do modyfikowania technicznego sposobu realizacji Usługi, stosownie do zakresu i warunków wynikających z posiadanych uprawnień, a także odpowiednio do posiadanych możliwości technicznych, bez pogarszania jej jakości, a także bez wpływu na zakres praw i obowiązków Stron.
%p 3.7. W celu zapewnienia bezpieczeństwa przekazu komunikatów w związku ze świadczoną Usługą, Usługodawca podejmuje środki techniczne i organizacyjne odpowiednie do stopnia zagrożenia bezpieczeństwa świadczonej Usługi.
%p 3.8. W przypadku świadczenia Usługi Usługodawca nie jest dostawcą usługi Internetu. W celu korzystania z Usługi Użytkownik powinien we własnym zakresie uzyskać dostęp do stanowiska komputerowego, za pomocą którego możliwe jest korzystanie z Usługi za pośrednictwem Serwisu.

%h3 IV. Prawa autorskie do zamieszczanych Treści oraz zgłoszenie naruszenia.

4.1. Użytkownik oświadcza, że w zakresie niezbędnym do korzystania z Serwisu oraz w ramach Treści, do których zamieszcza odniesienia (linki) dysponuje:
a) autorskimi prawami majątkowymi oraz prawami pokrewnymi do Treści stanowiących utwory w rozumieniu Ustawy o prawie autorskim i prawach pokrewnych,
b) prawami wyłącznymi w zakresie własności przemysłowej,
c) prawami w zakresie wykorzystywania wizerunku artystów wykonawców oraz
d) prawami do oznaczania tytułami ww. utworów składających się na Treści oraz nazwiskami lub nazwami artystów wykonawców lub ich zespołów.
4.2. Do zamieszczania przez Użytkownika odniesień do Treści w ramach Serwisu dochodzi za pośrednictwem formularza dostępnego na jednej z podstron Serwisu.
4.3. Użytkownik ponosi wyłączną odpowiedzialność z tytułu zamieszczenia w ramach Serwisu odniesień do Treści jak również za ich charakter. W szczególności nie mogą one naruszać dóbr osobistych i praw wyłącznych osób trzecich (m.in. autorskich praw majątkowych), a także postanowień niniejszego Regulaminu oraz przepisów obowiązującego na terytorium Rzeczypospolitej Polskiej prawa.
4.4. W szczególności zabronione jest zamieszczanie w ramach Serwisu odniesień do Treści, które:
a) byłyby zamieszczane w ramach Serwisu w złej wierze, np. z zamiarem naruszenia dóbr osobistych osób trzecich oraz renomy Usługodawcy;
b) byłyby obraźliwe bądź stanowiłyby lub mogłyby być uznane za groźbę skierowaną do innych osób, zawierałyby słownictwo naruszające dobre obyczaje (np. poprzez użycie wulgaryzmów lub określeń powszechnie uznawanych za obraźliwe;
c) naruszałyby jakiekolwiek prawa osób trzecich, a w szczególności prawa pozostałych Użytkowników Serwisu,
d) naruszałyby prawa związane z ochroną praw autorskich i praw pokrewnych, ochroną praw własności przemysłowej, tajemnicą przedsiębiorstwa lub mające związek ze zobowiązaniami o zachowaniu poufności,
e) naruszałyby w inny sposób postanowienia Regulaminu, przepisy obowiązującego prawa, normy społeczne lub obyczajowe (np. zawierały treści propagujące przemoc, treści o charakterze pornograficznym, nawołujące do nienawiści rasowej, wyznaniowej, etnicznej, naruszające uczucia religijne).
4.5. W przypadku powzięcia przez Użytkownika lub osobę trzecią informacji o fakcie zamieszczenia w ramach Serwisu Treści naruszających postanowienia niniejszego Regulaminu, prawa osób trzecich (m.in. autorskie prawa majątkowe) oraz przepisów obowiązującego na terytorium Rzeczypospolitej Polskiej prawa, Użytkownik lub osoba trzecia powinna niezwłocznie zgłosić taki fakt, kontaktując się z Serwisem pod adresem hardziogroup@gmail.com
4.6. W treści Zgłoszenia naruszenia, o którym mowa w 4.5 powyżej należy podać co najmniej dane podmiotu dokonującego ww. zgłoszenia, określić charakter naruszenia oraz wskazać Treści, których dane Zgłoszenie naruszenia ma dotyczyć w sposób możliwy na ich identyfikację w ramach Serwisu.
4.7. Usługodawca nie ponosi odpowiedzialności za charakter zamieszczanych przez Użytkowników odniesień do Treści. Nie dokonuje również ich bieżącej weryfikacji pod kątem zgodności z Regulaminem i przepisami obowiązującego prawa. Czynności w zakresie weryfikacji charakteru prawnego Treści podejmowane są przez Usługodawcę dopiero wraz z otrzymaniem prawidłowo wypełnionego Zgłoszenia naruszenia.
4.8. W przypadku stwierdzenia przez Usługodawcę, że dany Użytkownik dokonał zamieszczenia w ramach Serwisu Treści niezgodnych z postanowieniami Regulaminu jest on uprawniony do niezwłocznego:
a) usunięcia odniesienia do Treści, których dotyczyło Zgłoszenie naruszenia
b)uniemożliwienia Użytkownikowi, którego dotyczy Zgłoszenie naruszenia ponownego zawarcia Treści w ramach Serwisu.
4.9. Użytkownik, poprzez zamieszczenie w ramach Serwisu odniesienia do Treści, wyraża tym samym zgodę na wykorzystanie ich przez pozostałych Użytkowników, w zakresie ich dozwolonego użytku osobistego.
4.10. Usługodawca zastrzega sobie prawo do modyfikowania tych odniesień do Treści oraz ich usuwania, co do których, opierając się na własnych źródłach lub opierając się na doniesieniach Użytkowników bądź innych osób lub organów stwierdzono, że mogą one stanowić naruszenie niniejszego Regulaminu, obowiązujących przepisów prawa lub stanowić uszczerbek dla dobrego imienia Serwisu. Niemniej jednak każdy Użytkownik powinien mieć na względzie, że Usługodawca nie prowadzi kontroli odniesień do Treści zamieszczanych przez Użytkowników w ramach Serwisu.
4.11. Użytkownik nie jest uprawniony do zamieszczania w ramach Serwisu danych osobowych osób trzecich oraz rozpowszechniania wizerunku osób trzecich bez wymaganego prawem zezwolenia lub zgody osoby trzeciej. Użytkownik oświadcza, iż osoby, których wizerunek zamieścił w Serwisie udzieliły mu na to odpowiedniego zezwolenia.
4.12. Użytkownik oświadcza, że zamieszczenie za pośrednictwem Serwisu oraz udostępnienie w ramach Serwisu danych osobowych, wizerunku oraz informacji, dotyczących osób trzecich nastąpiło w sposób legalny, dobrowolny oraz za zgodą osób, których one dotyczą.
4.13. Użytkownik, zamieszczając w ramach Serwisu dane, wizerunek lub inne Treści, wyraża zgodę na wgląd w te informacje przez innych Użytkowników oraz Usługodawcę.
4.14. Użytkownik wyraża zgodę na nieodpłatne wykorzystywanie przez Usługodawcę umieszczonych przez Użytkownika w Serwisie na stronach dostępnych dla innych użytkowników Treści, wyłącznie w zakresie, w jakim stanowią one element całości obrazu (tzw. screenshot) dostępnej dla wszystkich innych Użytkowników strony Serwisu, do udostępniania lub publikacji, wyłącznie jako fragment całości obrazu strony Serwisu, w Internecie oraz w materiałach promocyjnych dotyczących Serwisu w Internecie, w prasie oraz w telewizji, a także ich rozpowszechniania za pomocą sieci telekomunikacyjnych, w celu informacji o działaniu Serwisu i promocji jego działalności, w sposób nienaruszający dóbr osobistych, w tym wizerunku Użytkownika.
4.15. Treści zamieszczane przez Użytkowników w ramach Serwisu nie wyrażają poglądów Usługodawcy oraz nie powinny być utożsamiane z jego działalnością.
4.16. W przypadku gdy w wyniku zawarcia przez Użytkownika w ramach Serwisu odniesienia do Treści dojdzie do naruszenia przepisów obowiązującego prawa oraz praw osób trzecich, w tym m.in. uprawnionych z tytułu autorskich praw majątkowych lub praw pokrewnych i praw własności przemysłowej przez Użytkownika lub Usługodawcę działającego w zaufaniu do oświadczeń Użytkownika złożonych poprzez akceptację niniejszego Regulaminu, Użytkownik jest zobowiązany do pełnego pokrycia szkody poniesionej w związku z tym naruszeniem przez Usługodawcę.
4.17. W przypadku jeżeli Usługodawca zostanie zobowiązany - zgodnie z obowiązującym prawem - do zapłaty jakiegokolwiek odszkodowania, kary lub grzywny w związku z roszczeniami osób trzecich, o których mowa w 5.17. powyżej, Użytkownik zobowiązany jest niezwłocznie zwrócić Usługodawcy równowartość tego odszkodowania, kary lub grzywny. Użytkownik zobowiązany jest również niezwłocznie pokryć wszelkie straty lub zwrócić udokumentowane koszty, jakie Usługodawca poniósł w związku z ujawnieniem uzasadnionych roszczeń osób trzecich, o których mowa powyżej.
V. Zasady korzystania z Serwisu.

5.1. Użytkownik zobowiązany jest w szczególności do:
5.1.1. korzystania z Serwisu w sposób nie zakłócający jego funkcjonowania, w szczególności poprzez użycie określonego oprogramowania lub urządzeń,
5.1.2. niepodejmowania działań takich jak: rozsyłanie lub/i umieszczanie w Serwisie nie zamówionej informacji handlowej
5.1.3. korzystania z Serwisu w sposób nieuciążliwy dla innych Użytkowników oraz dla Usługodawcy, z poszanowaniem ich dóbr osobistych (w tym prawa do prywatności) i wszelkich przysługujących im praw,
5.1.4. korzystania z wszelkich Treści zamieszczonych w ramach Serwisu jedynie w zakresie własnego użytku osobistego. Wykorzystywanie Treści w innym zakresie jest dopuszczalne wyłącznie na podstawie wyraźnej zgody udzielonej przez uprawnioną osobę.
5.2. Użytkownik ponosi wyłączną odpowiedzialność za czynności wykonane w ramach Serwisu przy pomocy formularza dostępnego na jednej z podstron Serwisu.
5.3. Użytkownik jest zobowiązany niezwłocznie powiadomić Usługodawcę o każdym przypadku naruszenia zasad określonych w niniejszym Regulaminie, w szczególności naruszenia zasad związanych z zamieszczaniem w Serwisie Treści.
5.4. Usługodawca może pozbawić Użytkownika prawa do korzystania z Serwisu, jak również może ograniczyć jego dostęp do części lub całości zasobów Serwisu lub usług oferowanych w ramach Serwisu, ze skutkiem natychmiastowym, w przypadku naruszenia przez Użytkownika niniejszego Regulaminu, w szczególności gdy Użytkownik:
5.4.1. zamieścił w ramach Serwisu Treści niezgodne z obowiązującym prawem lub postanowieniami niniejszego Regulaminu,
5.4.2. dopuści się za pośrednictwem Serwisu naruszenia dóbr osobistych osób trzecich, w szczególności dóbr osobistych innych Użytkowników Serwisu,
5.4.3. dopuści się innych zachowań, które zostaną uznane przez Usługodawcę za zachowania naganne, niezgodne z obowiązującymi przepisami prawa lub/i ogólnymi zasadami korzystania z sieci Internet, za sprzeczne z celami utworzenia Serwisu lub godzące w dobre imię Usługodawcy.
5.5. Osoba, która została pozbawiona prawa do korzystania z Serwisu, nie może uzyskać ponownie tego prawa bez uprzedniej zgody Usługodawcy.
VI. Reklamacje.

6.1. W trakcie korzystania z Usługi, Użytkownik zobowiązany jest:
6.1.1. niezwłocznie powiadomić Usługodawcę o wszelkich nieprawidłowościach, usterkach lub przerwach w funkcjonowaniu Serwisu oraz o niewłaściwej jakości Usługi,
6.1.2. przestrzegać przepisów prawa oraz treści Regulaminu, a w szczególności nie dostarczać/przekazywać treści zabronionych przez prawo.
6.2. Nieprawidłowości związane z funkcjonowaniem Usługi Użytkownik może zgłaszać na adres: hardziogroup@gmail.com
6.3. Za pośrednictwem Serwisu Usługodawca umożliwia:
6.3.1. uzyskiwanie informacji o Serwisie,
6.3.2. przyjmowanie zgłoszeń usterek i Awarii
6.3.3. złożenie reklamacji.
6.4. Użytkownikowi przysługuje prawo do złożenia reklamacji w terminie miesiąca od dnia, w którym Usługa była nienależycie wykonana. Reklamację złożoną po upływie terminu określonego w zdaniu pierwszym, pozostawia się bez rozpoznania, o czym Usługodawca niezwłocznie powiadamia Użytkownika.
6.5. Reklamacja może być złożona pisemnie lub przy wykorzystaniu innych środków porozumiewania się na odległość, w tym drogą elektroniczną, o ile nie stoją temu na przeszkodzie techniczne możliwości.
6.6. Za datę złożenia reklamacji uznaje się datę wpływu reklamacji do Usługodawcy.
VII. Subskrypcja SMS.

Użytkownik ma możliwość subskrybcji dowcipów poprzez kanał SMS.
Aby zainicjować otrzymywanie SMSów z dowcipami należy wysłać SMS o treści START HEHE na podany numer SMS MT, koszt wiadomości zgodny z cennikiem operatora. Jednocześnie użytkownik zobowiązuje się do otrzymywania codziennych płatnych wiadomości tekstowych na podany przez siebie numer telefonu.
Wiadomości zawierające dowcipy będą wysyłane co drugi dzień o godzinie 14:00.
Koszt jednej otrzymanej wiadomości to 3,69zł z VAT. Aby zakończyć działanie usługi należy wysłać SMS o treści STOP HEHE na podany numer SMS MT (koszt wiadomości zgodny z cennikiem operatora).
Usługa będzie dostępna od 11.04.2011 do odwołania.
Usługa dostępna jest dla abonentów sieci Orange, Plus oraz Play.
VIII. Odpowiedzialność.

7.1. Usługodawca nie ponosi odpowiedzialności za problemy techniczne bądź ograniczenia techniczne występujące w sprzęcie komputerowym, systemie teleinformatycznym oraz infrastrukturze telekomunikacyjnej, z którego korzysta Użytkownik, a które uniemożliwiają Użytkownikowi korzystanie z Serwisu i oferowanej za jego pośrednictwem Usługi.
7.2. Użytkownik jest wyłącznie odpowiedzialny za zapewnienie technicznej zgodności pomiędzy wykorzystywanym przez siebie w celu korzystania z Usługi sprzętem komputerowym i systemem teleinformatycznym, a Serwisem.
7.3. Użytkownik ponosi odpowiedzialność za działania lub zaniechania innego podmiotu, któremu umożliwia korzystanie z Usługi, tak jak za działania lub zaniechania własne.
7.4. Usługodawca nie ponosi odpowiedzialności za:
7.4.1. utratę Treści spowodowaną awarią sprzętu, systemu lub też innymi okolicznościami z przyczyn nieleżących po stronie Usługodawcy oraz
7.4.2. za treść reklam zamieszczanych w Serwisie przez podmioty trzecie, a także sposób, w jaki publikowane Treści będą wykorzystywane przez Użytkowników.
7.5. Usługodawca nie ponosi odpowiedzialności za niedostępność Serwisu z powodu Siły Wyższej. Usługodawca zastrzega sobie ponadto możliwość zawieszenia lub zakończenia świadczenia usług w Serwisie w dowolnym momencie, z jakiejkolwiek przyczyny, w szczególności z uwagi na konieczność konserwacji, przeglądu lub rozbudowy bazy technicznej Serwisu w przypadku gdy nie naruszy to praw Użytkownika.
IX. Polityka prywatności w Serwisie.

8.1. Dane osobowe Użytkowników przetwarzane są przez Usługodawcę w celu prowadzenia Serwisu, w szczególności zapewnienia sprawnego funkcjonowania Serwisu, jak również w celu umożliwienia świadczenia Użytkownikom Usługi oferowanej w ramach Serwisu.
8.2. Usługodawca zastrzega sobie prawo ujawnienia wybranych informacji dotyczących Użytkownika właściwym organom bądź osobom trzecim, które zgłoszą żądanie udzielenia takich informacji, w oparciu o odpowiednią podstawę prawną oraz zgodnie z przepisami obowiązującego prawa. Poza przypadkami wskazanymi w zdaniu poprzednim informacje dotyczące Użytkownika nie zostaną ujawnione żadnej osobie trzeciej, bez zgody Użytkownika.
8.3. Dane dotyczące Użytkownika, w tym dane osobowe, będą przechowywane przez okres nie dłuższy niż to jest konieczne w związku z korzystaniem z Serwisu, a następnie zostaną usunięte z systemu.
8.4. Każdy Użytkownik ma prawo dostępu do treści swoich danych osobowych, prawo ich poprawiania, uzupełniania oraz prawo żądania zaprzestaniach przetwarzania danych i ich usunięcia, zwracając się w tym celu pisemnie do Usługodawcy. W przypadku usunięcia danych warunkujących korzystanie z wyodrębnionych zasobów Serwisu oraz usług oferowanych w jego ramach Użytkownik traci możliwość korzystania z nich.
8.5. Usługodawca informuje, że z momentem połączenia się przez Użytkownika z Serwisem w logach systemowych Serwisu pojawia się informacja o numerze (w tym IP) i rodzaju urządzenia końcowego Użytkownika, z którego Użytkownik łączy się z Serwisem. Usługodawca informuje, że będzie przetwarzał, zgodnie z przepisami prawa, również dane dotyczące numeru (w tym IP) i rodzaju urządzenia końcowego Użytkownika i czasu połączenia Użytkownika z Serwisem oraz inne dane eksploatacyjne dotyczące aktywności Użytkownika w Serwisie. Dane te przetwarzane są w szczególności w celach technicznych oraz do zbierania ogólnych informacji statystycznych.
8.6. Usługodawca wykorzystuje pliki typu cookie w celu gromadzenia informacji związanych z korzystaniem z Serwisu przez Użytkownika.
8.7. Usługodawca zwraca uwagę, że przetwarzanie (w tym udostępnianie) przez Użytkownika w Serwisie danych osobowych innych osób, niestanowiące przetwarzania wyłącznie w celach osobistych lub domowych, może wiązać się z obowiązkiem spełnienia przez Użytkownika obowiązków wynikających z Ustawy o ochronie danych osobowych.
8.8. Jeżeli Użytkownik umieszcza w Serwisie jakiekolwiek dane osobowe innych osób (w tym ich imię i nazwisko, wizerunek, adres, numer telefonu lub adres e-mail), może to uczynić jedynie pod warunkiem nienaruszenia przepisów obowiązującego prawa i dóbr osobistych tych osób.
8.9. Usługodawca oświadcza, iż dołoży starań, aby zapewnić Użytkownikom wysoki poziom bezpieczeństwa w zakresie korzystania z Serwisu. Wszelkie zdarzenia mające wpływ na bezpieczeństwo przekazu informacji, w tym również dotyczące podejrzenia udostępniania plików zawierających wirusy i innych plików o podobnym charakterze lub innych aniżeli pliki treści o podobnym charakterze, należy zgłaszać Usługodawcy na konto hardziogroup@gmail.com
8.10. Jednocześnie Usługodawca oświadcza, że stosowane przy ochronie Serwisu nowoczesne techniki zabezpieczenia dostępu do danych i Treści służą zapewnieniu jak najwyższego poziomu bezpieczeństwa, jednak ze względów technicznych nie mogą gwarantować w pełni tajemnicy składowanych i przesyłanych informacji.
8.11. Użytkownik uprawniony jest do korzystania z danych udostępnionych przez innych Użytkowników Serwisu wyłącznie w związku z korzystaniem z Serwisu, chyba że uzyska zgodę od tych Użytkowników na przetwarzanie ich danych w zakresie lub celu wykraczającym poza korzystanie z Serwisu.
X. Postanowienia końcowe.

9.1. Usługodawcy przysługuje prawo okresowego zawieszenia świadczenia Usługi w Serwisie w stosunku do wszystkich lub niektórych Użytkowników w związku z przeprowadzaniem prac konserwacyjnych.
9.2. Usługodawca zastrzega sobie prawo do całkowitego zaprzestania udostępniania Serwisu bez podania przyczyn.
9.3. Usługodawca ma prawo odstąpić od świadczenia Usługi w przypadku naruszenia przez Użytkownika Regulaminu, w szczególności zamieszczenia Treści o charaktrze niedozwolonym czyli sprzecznych z przepisami obowiązującego prawa lub niniejszego Regulaminu.
9.4. Ewentualne spory powstałe pomiędzy Usługodawcą, a Użytkownikiem, który jest Konsumentem zostają poddane sądom właściwym zgodnie z postanowieniami przepisów Kodeksu postępowania cywilnego.
9.5. Uznanie poszczególnych postanowień niniejszego Regulaminu w sposób przewidziany prawem za nieważne bądź nieskuteczne, nie wpływa na ważność czy skuteczność pozostałych postanowień Regulaminu. W miejsce nieważnego postanowienia zastosowana będzie reguła, która jest najbliższa celom nieważnego postanowienia i całego niniejszego Regulaminu.
9.6. W sprawach nieuregulowanych w niniejszym Regulaminie mają zastosowanie przepisy Kodeksu cywilnego, przepisy Ustawy z dnia 18 lipca 2002r. o świadczeniu usług drogą elektroniczną (Dz. U. z 2002 r. Nr 144, poz. 1204 z późn. zm.) oraz Ustawy o prawie autorskim i prawach pokrewnych z dnia 4 lutego 1994 roku (tekst jedn. z dnia 17 maja 2006r. - Dz.U. Nr 90, poz. 631).
9.7. Usługodawca zastrzega sobie prawo do zmiany niniejszego Regulaminu w dowolnym czasie. Zmiany Regulaminu obowiązują od momentu umieszczenia ich na stronie internetowej Serwisu. Zmiany uważane są za zaakceptowane przez Użytkownika z momentem skorzystania przez niego z Serwisu.
9.8. Aktualny Regulamin jest publikowany na stronie internetowej Serwisu oraz dostarczany nieodpłatnie Użytkownikowi, a także na każde jego żądanie.