= render partial: "links/link", locals: { link: @link }

.item
  %div{ :class => "fb-comments", :data => { :href => links_url(id: @link.id), "num-posts" => 4, "colorscheme" => "dark" }}

- content_for :head do
  - @link.to_opengraph.merge(url: link_url(id: @link.id)).each do |key, value|
    %meta{ property: "og:#{key}", content: value }/
    %meta{ itemprop: key, content: value }