= render partial: "links/link", locals: { link: @link }

%h2 Inne zasoby

- @links.each_with_index do |link, index|
  = render partial: "links/link", locals: { link: link }
.clear

= link_to "Więcej", pending_links_path, class: "btn big"

- content_for :head do
  - @link.to_opengraph.merge(url: link_url(id: @link.id)).each do |key, value|
    %meta{ property: "og:#{key}", content: value }/
    %meta{ itemprop: key, content: value }