= render partial: "links/link", locals: { link: @link }

- content_for :head do
  - @link.to_opengraph.merge(url: link_url(id: @link.id)).each do |key, value|
    %meta{ property: "og:#{key}", content: value }/
    %meta{ itemprop: key, content: value }