.inner
  LoLek #{[2012, Time.now.year].uniq.join("/")}
  %br/
  .fb-like-box{ :data => { :href => Facebook::CONFIG["fanpage"], :width => 370, :colorscheme => "dark", "show-faces" => "true", :stream => "false", :header => "false" } }